/* Legacy Open Sans font import - Disabled in favor of Loew Next Arabic (brand font) */
/* If you need to revert, uncomment the line below and update --font-family in globals.css */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese'); */
